.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.editor {
  display: flex;
}

.editorPanel {
  flex: 1;
}

.editorPanel:not(:last-child) {
  border-right: 1px solid black;
}
